<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 * author:孙宝臻
 * data：2020/8/3
 * purpose:出帐统一表mapper.xml
-->
<!--        private int ID;                  //序号-->
<!--        private String cityCode;           //城市编码-->
<!--        private String productCode;        //产品编码-->
<!--        private String accountFeeTypeCode;//出账类型编码-->
<!--        private Date accountRecordMonth;   //出账月份-->
<!--        private double accountFee;          //出账金额-->
<!--        private  String accountOperator;     //录入员工用户名-->
<!--        private String checkStatus;         //稽核状态-->
<!--        private String checkPerson;         //稽核人-->
<!--        private  String checkTime;           //稽核时间-->

<mapper namespace="com.backend.mapper.RpAccountFeeRecordTMapper">

    <!--  增加一条出帐收入记录-->
    <insert id="addRpAccountFeeRecordT" parameterType="RpAccountFeeRecordT">
        insert into rp_account_fee_record_t
        value (#{ID},#{cityCode},#{productCode},#{accountFeeTypeCode},#{accountRecordMonth},
        #{accountFee},#{accountOperator},'未稽核',#{checkPerson},#{checkTime})
    </insert>
<!--    test url:http://localhost:8080/RpAccountFeeRecordT/createRpAccountFeeRecordT/?cityCode=000&productCode=110101&accountFeeTypeCode=4001&accountRecordMonttemp=2020-01-05&accountFee=1102&accountOperator=add-->

    <!-- 修改出账收入记录 -->
    <update id="changeRpAccountFeeRecordT" parameterType="RpAccountFeeRecordT">
        UPDATE rp_account_fee_record_t
        <set>
            <if test="cityCode != null and cityCode != ''">
                city_code=#{cityCode},
            </if>
            <if test="productCode != null and productCode != ''">
                product_code=#{productCode},
            </if>
            <if test="accountFeeTypeCode != null and accountFeeTypeCode != ''">
                account_fee_type_code=#{accountFeeTypeCode},
            </if>
            <if test="accountRecordMonth != null">
                account_record_month=#{accountRecordMonth},
            </if>
            <if test="accountFee != null">
                account_fee=#{accountFee},
            </if>
            <if test="accountOperator != null and accountOperator != ''">
                account_operator=#{accountOperator},
            </if>
            <if test="checkStatus != null and checkStatus != ''">
                check_status=#{checkStatus},
            </if>
            <if test="checkPerson != null and checkPerson != ''">
                check_person=#{checkPerson},
            </if>
            <if test="checkTime != null ">
                check_time=#{checkTime},
            </if>
        </set>
        WHERE ID=#{ID}
    </update>
    <!--    test url:http://localhost:8080/RpAccountFeeRecordT/changeRpAccountFeeRecordT/?ID=1&cityCode=000&productCode=110101&accountFeeTypeCode=4001&accountRecordMonttemp=2020-01-05&accountFee=2100&accountOperator=add-->

    <!--    批量删除出账收入-->
    <delete id="deleteRpNetBalanceRecordT" parameterType="java.lang.Integer" >
        delete from rp_account_fee_record_t
        where ID in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--    test url:http://localhost:8080/RpAccountFeeRecordT/deleteRpNetBalanceRecordT/?ids=2,3,4-->

    <!--    根据查询条件来获取查询结果-->
    <resultMap type="RpAccountFeeRecordT" id="AccountTip">
        <result property="ID" jdbcType="VARCHAR" column="ID"/>
        <result property="cityCode" jdbcType="VARCHAR" column="CITY_CODE"/>
        <result property="productCode" jdbcType="VARCHAR" column="PRODUCT_CODE"/>
        <result property="accountFeeTypeCode" jdbcType="VARCHAR" column="ACCOUNT_FEE_TYPE_CODE"/>
        <result property="accountRecordMonth" jdbcType="DATE" column="ACCOUNT_RECORD_MONTH"/>
        <result property="accountFee" jdbcType="DOUBLE" column="ACCOUNT_FEE"/>
        <result property="accountOperator" jdbcType="VARCHAR" column="ACCOUNT_OPERATOR"/>
        <result property="checkStatus" jdbcType="VARCHAR" column="CHECK_STATUS"/>
        <result property="checkPerson" jdbcType="VARCHAR" column="CHECK_PERSON"/>
        <result property="checkTime" jdbcType="DATE" column="CHECK_TIME"/>
    </resultMap>
    <select id="selectAllRpAccountFeeRecordT"   resultMap="AccountTip" >
        select *
        from rp_account_fee_record_t
        <where>
            <!-- 对于字符串来说既要判断null，也要判断空字符串 -->
            <!-- 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 -->
            <if test="ID != null ">
                AND ID=#{ID}
            </if>
            <if test="cityCode != null and cityCode != '' ">
                AND city_code=#{cityCode}
            </if>
            <if test="productCode != null and productCode != '' ">
                AND product_code=#{productCode}
            </if>
            <if test="accountFeeTypeCode != null and accountFeeTypeCode != '' ">
                AND account_fee_type_code=#{accountFeeTypeCode}
            </if>
            <if test="accountRecordMonth != null  ">
                AND account_record_month=#{accountRecordMonth}
            </if>
            <if test="accountFee != null ">
                AND account_fee=#{accountFee}
            </if>
            <if test="accountOperator != null and accountOperator != '' ">
                AND account_operator=#{accountOperator}
            </if>
            <if test="checkStatus != null and checkStatus != '' ">
                AND check_status=#{checkStatus}
            </if>
            <if test="checkPerson != null and checkPerson != '' ">
                AND check_person=#{checkPerson}
            </if>
            <if test="checkTime != null  ">
                AND check_time=#{checkTime}
            </if>
        </where>
    </select>
<!--    test url:http://localhost:8080/RpAccountFeeRecordT/selectAllRpAccountFeeRecordT/?cityCode=750&ID=0&accountFee=1102-->

</mapper>
