<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 * author:万宇成
 * data：2020/8/1
 * purpose:通知单mapper.xml
-->

<mapper namespace="com.backend.mapper.RpBusinessFeeRecordTMapper">

<!--    更新通知单-->
    <update id="updateRpBusinessFeeRecordT" parameterType="RpBusinessFeeRecordT">
        UPDATE rp_business_fee_record_t
        <set>
            <if test="productCode != null and productCode != ''">
            PRODUCT_CODE=#{productCode},
        </if>
            <if test="cityCode != null and cityCode != ''">
            CITY_CODE=#{cityCode},
        </if>
            <if test="businessFeeTypeCode != null and businessFeeTypeCode != ''">
            BUSINESS_FEE_TYPE_CODE=#{businessFeeTypeCode},
        </if>
            <if test="businessRecordDate != null ">
            BUSINESS_RECORD_DATE=#{businessRecordDate},
        </if>
            <if test="businessFee != null ">
            BUSINESS_FEE=#{businessFee},
        </if>
            <if test="recordOperator != null and recordOperator != ''">
            RECORD_OPERATOR=#{recordOperator},
        </if>
            <if test="checkPerson != null and checkPerson!= ''">
            CHECK_PERSON=#{checkPerson},
        </if>
            <if test="checkStatus != null and checkStatus != ''">
            CHECK_STATUS=#{checkStatus},
        </if>
            <if test="checkTime != null ">
            CHECK_TIME=#{checkTime}
        </if>
        </set>
        WHERE ID=#{ID}
    </update>



    <!--        增加一条通知单-->
    <insert id="addRpBusinessFeeRecordT" parameterType="RpBusinessFeeRecordT">
        insert into rp_business_fee_record_t(CITY_CODE,PRODUCT_CODE,BUSINESS_FEE_TYPE_CODE,BUSINESS_RECORD_DATE,BUSINESS_FEE,RECORD_OPERATOR)
                                     value (#{cityCode},#{productCode},#{businessFeeTypeCode},#{business_record_date},#{businessFee},#{recordOperator})
    </insert>


<!--    批量删除通知单-->
    <delete id="deleteRpBusinessFeeRecordT" parameterType="java.lang.Integer" >
        delete from rp_business_fee_record_t
        where ID in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <!--    根据查询条件来获取查询结果-->
    <resultMap type="RpBusinessFeeRecordT" id="Search2">
        <result property="ID" jdbcType="VARCHAR" column="ID"/>
        <result property="businessRecordDate" jdbcType="DATE" column="BUSINESS_RECORD_DATE"/>
        <result property="businessFee" jdbcType="VARCHAR" column="BUSINESS_FEE"/>
        <result property="recordOperator" jdbcType="DOUBLE" column="RECORD_OPERATOR"/>
        <result property="checkStatus" jdbcType="VARCHAR" column="CHECK_STATUS"/>
        <result property="checkPerson" jdbcType="VARCHAR" column="CHECK_PERSON"/>
        <result property="checkTime" jdbcType="DATE" column="CHECK_TIME"/>
        <association property="rpCityCodeT" javaType="RpCityCodeT">
            <result property="cityName" jdbcType="VARCHAR" column="CITY_NAME"/>
        </association>
        <association property="rpProductCodeT" javaType="RpProductCodeT">
            <result property="productName" jdbcType="VARCHAR" column="PRODUCT_NAME"/>
        </association>
        <association property="rpBusinessFeeTypeCodeT" javaType="RpBusinessFeeTypeCodeT">
            <result property="businessFeeTypeName" jdbcType="VARCHAR" column="BUSINESS_FEE_TYPE_NAME"/>
        </association>
    </resultMap>
    <select id="selectAllRpBusinessFeeRecordT"  parameterType="com.backend.form.RpBusinessFeeRecordTSelectForm"  resultMap="Search2" >
        select ID,CITY_NAME,PRODUCT_NAME,BUSINESS_FEE_TYPE_NAME,BUSINESS_RECORD_DATE,BUSINESS_FEE,RECORD_OPERATOR,CHECK_STATUS,CHECK_PERSON,CHECK_TIME
        from ((rp_business_fee_record_t natural join rp_city_code_t) natural join rp_Product_Code_T) natural join rp_business_fee_type_code_t
                <where>
                    <!-- 对于字符串来说既要判断null，也要判断空字符串 -->
                    <!-- 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 -->
                    <if test="cityCode != null and cityCode != '' ">
                        AND city_code=#{cityCode}
                    </if>
                    <if test="productCode != null and cityCode != '' ">
                        AND PRODUCT_CODE=#{productCode}
                    </if>
                    <if test="businessFeeTypeCode != null and businessFeeTypeCode != '' ">
                        AND BUSINESS_FEE_TYPE_CODE=#{businessFeeTypeCode}
                    </if>
                    <if test="businessRecordDate != null  ">
                        AND str_to_date(BUSINESS_RECORD_DATE,'%Y-%m')=str_to_date(#{businessRecordDate},'%Y-%m')
                    </if>

                </where>
    </select>


</mapper>
