<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.backend.mapper.RpCityCodeTMapper">

    <select id="selectAll"  parameterType="RpCityCodeT" resultType="RpCityCodeT"    >
        select city_name ,city_code
        from rp_city_code_t
        <where>
            <!-- 对于字符串来说既要判断null，也要判断空字符串 -->
            <!-- 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 -->
            <if test="cityCode != null and cityCode != '' ">
                AND city_code=#{cityCode}
            </if>
            <if test="cityName != null and cityCode != '' ">
                AND city_Name=#{cityName}
            </if>

        </where>
    </select>

</mapper>
