<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.backend.mapper.RpCityCodeTMapper">

    <resultMap type="RpCityCodeT" id="Test1">
        <result property="cityCode" jdbcType="VARCHAR" column="CITY_NAME"/>
        <result property="cityName" jdbcType="VARCHAR" column="CITY_CODE"/>
    </resultMap>


<!-- 查询城市编码和城市名称 -->
    <select id="selectAll"   resultMap="Test1" >
        select CITY_NAME,CITY_CODE
        from rp_city_code_t
    </select>

</mapper>
