<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 * author:万宇成
 * data：2020/7/31
 * purpose:网间结算录入mapper.xml
-->

<mapper namespace="com.backend.mapper.RpNetBalanceRecordTMapper">
    <!--    更新网间收入-->
    <update id="updateRpNetBalanceRecordT" parameterType="RpNetBalanceRecordT">
        UPDATE rp_net_balance_record_t
        <set>
            <if test="productCode != null and productCode != ''">
                PRODUCT_CODE=#{productCode},
            </if>
            <if test="cityCode != null and cityCode != ''">
                CITY_CODE=#{cityCode},
            </if>
            <if test="balanceSpCode!= null and balanceSpCode != ''">
                BALANCE_SP_CODE=#{balanceSpCode},
            </if>
            <if test="balanceTypeCode!= null and  balanceTypeCode != ''">
                BALANCE_TYPE_CODE=#{balanceTypeCode},
            </if>
            <if test="balanceMonth != null ">
                BALANCE_MONTH=#{balanceMonth},
            </if>
            <if test="balanceFee != null ">
                BALANCE_FEE=#{balanceFee},
            </if>
            <if test="recordOperator != null and recordOperator != ''">
                RECORD_OPERATOR=#{recordOperator},
            </if>
            <if test="checkPerson != null and checkPerson!= ''">
                CHECK_PERSON=#{checkPerson},
            </if>
            <if test="checkStatus != null and checkStatus != ''">
                CHECK_STATUS=#{checkStatus},
            </if>
            <if test="checkTime != null ">
                CHECK_TIME=#{checkTime}
            </if>
        </set>
        WHERE ID=#{ID}
    </update>




<!--    增加一条网间收入-->
    <insert id="addRpNetBalanceRecordT" parameterType="RpNetBalanceRecordT">
        insert into rp_net_balance_record_t(balance_month,CITY_CODE,PRODUCT_CODE,balance_Sp_Code,balance_Type_Code,record_Operator,balance_Fee)
                                     value (#{balanceMonth},#{cityCode},#{productCode},#{balanceSpCode},#{balanceTypeCode},#{recordOperator},#{balanceFee})
    </insert>

    <!--    批量删除网间收入-->
    <delete id="deleteRpNetBalanceRecordT" parameterType="java.lang.Integer" >
        delete from rp_net_balance_record_t
        where ID in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>




<!--    根据查询条件来获取查询结果-->
    <resultMap type="RpNetBalanceRecordT" id="Search">
        <result property="ID" jdbcType="VARCHAR" column="ID"/>
        <result property="balanceMonth" jdbcType="DATE" column="balance_month"/>
        <result property="recordOperator" jdbcType="VARCHAR" column="RECORD_OPERATOR"/>
        <result property="balanceFee" jdbcType="DOUBLE" column="balance_fee"/>
        <result property="checkStatus" jdbcType="VARCHAR" column="CHECK_STATUS"/>
        <result property="checkPerson" jdbcType="VARCHAR" column="CHECK_PERSON"/>
        <result property="checkTime" jdbcType="DATE" column="CHECK_TIME"/>
        <association property="rpCityCodeT" javaType="RpCityCodeT">
            <result property="cityName" jdbcType="VARCHAR" column="CITY_NAME"/>
        </association>
        <association property="rpProductCodeT" javaType="RpProductCodeT">
            <result property="productName" jdbcType="VARCHAR" column="PRODUCT_NAME"/>
        </association>
        <association property="rpBalanceSpCodeT" javaType="RpBalanceSpCodeT">
            <result property="balanceSpName" jdbcType="VARCHAR" column="balance_Sp_Name"/>
        </association>
        <association property="rpBalanceTypeCodeT" javaType="RpBalanceTypeCodeT">
            <result property="balanceTypeName" jdbcType="VARCHAR" column="balance_Type_Name"/>
        </association>
    </resultMap>
    <select id="selectAllRpNetBalanceRecordT"  parameterType="com.backend.form.RpNetBalanceRecordTSelectForm" resultMap="Search" >
        select ID,CITY_NAME,balance_month,PRODUCT_NAME,balance_Sp_Name,balance_Type_Name,RECORD_OPERATOR,balance_fee,CHECK_STATUS,CHECK_PERSON,CHECK_TIME
        from (((rp_net_balance_record_t natural join rp_city_code_t) natural join rp_Product_Code_T) natural join rp_Balance_Sp_Code_T) natural join rp_Balance_Type_Code_T
                <where>
                    <!-- 对于字符串来说既要判断null，也要判断空字符串 -->
                    <!-- 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 -->
                    <if test="cityCode != null and cityCode != '' ">
                        AND city_code=#{cityCode}
                    </if>
                    <if test="productCode != null and cityCode != '' ">
                        AND PRODUCT_CODE=#{productCode}
                    </if>
                    <if test="balanceSpCode != null and balanceSpCode != '' ">
                        AND BALANCE_SP_CODE=#{balanceSpCode}
                    </if>
                    <if test="balanceMonth != null  ">
                        AND BALANCE_MONTH=#{balanceMonth}
                    </if>
                    <if test="balanceTypeCode != null and balanceTypeCode != '' ">
                        AND str_to_date(BALANCE_TYPE_CODE,'%Y-%m')=str_to_date(#{balanceTypeCode},'%Y-%m')
                    </if>

                </where>
    </select>


</mapper>
