<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.backend.mapper.RpNetBalanceRecordTMapper">

    <resultMap type="RpNetBalanceRecordT" id="Search">
        <result property="ID" jdbcType="VARCHAR" column="ID"/>
        <association property="rpCityCodeT" javaType="RpCityCodeT">
            <result property="cityName" jdbcType="VARCHAR" column="CITY_NAME"/>
        </association>
        <association property="rpProductCodeT" javaType="RpProductCodeT">
            <result property="productName" jdbcType="VARCHAR" column="PRODUCT_NAME"/>
        </association>
    </resultMap>
    <!-- 返回所有网间结算单 -->
    <select id="selectAllRpNetBalanceRecordT"   resultMap="Search" >
        select ID,CITY_NAME,PRODUCT_NAME
        from (rp_net_balance_record_t natural join rp_city_code_t) natural join rp_product_Code_T
        <!--        <where>-->
        <!--            &lt;!&ndash; 对于字符串来说既要判断null，也要判断空字符串 &ndash;&gt;-->
        <!--            &lt;!&ndash; 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 &ndash;&gt;-->
        <!--            <if test="cityCode != null and cityCode != '' ">-->
        <!--                AND city_code=#{cityCode}-->
        <!--            </if>-->
        <!--            <if test="cityName != null and cityCode != '' ">-->
        <!--                AND city_Name=#{cityName}-->
        <!--            </if>-->

        <!--        </where>-->
    </select>

</mapper>
