<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
 * author:万宇成
 * data：2020/8/1
 * purpose:网间结算录入mapper.xml
-->

<mapper namespace="com.backend.mapper.RpPreFeeRecordTMapper">
<!--        根据查询条件来获取查询结果-->
    <resultMap type="RpPreFeeRecordT" id="Search1">
        <result property="ID" jdbcType="VARCHAR" column="ID"/>
        <result property="recordDate" jdbcType="DATE" column="RECORD_DATE"/>
        <result property="recordOperator" jdbcType="VARCHAR" column="RECORD_OPERATOR"/>
        <result property="writeOffFee" jdbcType="DOUBLE" column="WRITE_OFF_FEE"/>
        <result property="checkStatus" jdbcType="VARCHAR" column="CHECK_STATUS"/>
        <result property="checkPerson" jdbcType="VARCHAR" column="CHECK_PERSON"/>
        <result property="checkTime"   jdbcType="DATE" column="CHECK_TIME"/>
        <association property="rpCityCodeT" javaType="RpCityCodeT">
            <result property="cityName" jdbcType="VARCHAR" column="CITY_NAME"/>
        </association>
        <association property="rpProductCodeT" javaType="RpProductCodeT">
            <result property="productName" jdbcType="VARCHAR" column="PRODUCT_NAME"/>
        </association>
        <association property="rpWriteOffTypeCodeT" javaType="RpWriteOffTypeCodeT">
            <result property="writeOffTypeName" jdbcType="VARCHAR" column="WRITE_OFF_TYPE_NAME"/>
        </association>
    </resultMap>
    <select id="selectAllRpPreFeeRecordT"   resultMap="Search1" >
        select ID,RECORD_DATE,CITY_NAME,PRODUCT_NAME,WRITE_OFF_TYPE_NAME,WRITE_OFF_FEE,RECORD_OPERATOR,CHECK_STATUS,CHECK_PERSON,CHECK_TIME
        from ((rp_pre_fee_record_t natural join rp_city_code_t) natural join rp_Product_Code_T) natural join rp_write_off_type_code_t
        <!--        <where>-->
        <!--            &lt;!&ndash; 对于字符串来说既要判断null，也要判断空字符串 &ndash;&gt;-->
        <!--            &lt;!&ndash; 在test属性中和＃{}中使用的是实体类（参数）中的数据域，不在这里的指的是表中的列名。 &ndash;&gt;-->
        <!--            <if test="cityCode != null and cityCode != '' ">-->
        <!--                AND city_code=#{cityCode}-->
        <!--            </if>-->
        <!--            <if test="cityName != null and cityCode != '' ">-->
        <!--                AND city_Name=#{cityName}-->
        <!--            </if>-->

        <!--        </where>-->
    </select>

    <!--    批量删除预存转收入-->
    <delete id="deleteRpPreFeeRecordT" parameterType="java.lang.Integer" >
        delete from rp_pre_fee_record_t
        where ID in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--    增加一条预存转人-->
    <insert id="addRpPreFeeRecordT" parameterType="RpPreFeeRecordT">
        insert into rp_pre_fee_record_t(RECORD_DATE,CITY_CODE,PRODUCT_CODE,WRITE_OFF_TYPE_CODE,WRITE_OFF_FEE,RECORD_OPERATOR)
                                     value (#{recordDate},#{cityCode},#{productCode},#{writeOffTypeCode},#{writeOffFee},#{recordOperator})
    </insert>


</mapper>
